{% extends 'frontComp.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block main %}
<style>
    .rc{
          right:0;left:0;margin:auto; background-color: rgba(0,0,0,0.1);
    }
    .form-control{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .btn{
        float: none;
        background-color: blue;
    }
</style>
    <form method="post" novalidate>

        <div class="w-4/5 m-auto text-center">
            <div class="py-12 border-b border-gray-200">
                <h1 class="text-6xl pt-12 pb-8">
                    Login
                </h1>

                    <div class="form-group">
                        <label for="InputUsername">Username:</label>
                        <input
                                type="text"
                                value="{{ last_username }}"
                                name="Username"
                                id="inputUsername"
                                placeholder="Username"
                                autocomplete="Username"
                                class="form-control"
                                required
                                autofocus
                        >
                    </div>


                <div class="form-group">
                    <label for="InputPassword"> Password:</label>
                    <input
                            type="password"
                            name="password"
                            id="inputPassword"
                            class="form-control"
                            autocomplete="current-password"
                            placeholder="Password"
                            required
                    >
                </div>



                <input
                        type="hidden"
                        name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                >
<br>
                <button
                        class="  btn btn-primary"
                        type="submit">
                    Sign in
                </button>

                <p> Did you forget your password ?<a href="{{ path('app_forgot_password_request') }}"> click here to reset.</a></p>

    </div>
    </div>
    </form>

{% endblock %}